$color-default: #418ecd;
$color-error: #F44336;
$color-accept: #00E676;
$font-size: 16px;
$transition: all 0.25s;

*, 
*:after, 
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    height: 100vh;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff; 
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100; 
    background-color: #2196F3; 
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}



.material-form {
    display: block;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 35rem;
    overflow: auto; 
    padding: 4rem 3rem;
    background-color: #f0f8ff;
    font-size: $font-size;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgba(grey, 0.5);
    overflow: scroll;
    &__container {
        position: relative;
        width: 90%;
        margin: 2rem auto;
        padding: 0.9rem 0;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__label {
        position: absolute;
        font-family: sans-serif;
        font-weight: bold;
        transform: translateY(-50%);
        transition: $transition;
    }
    
    &__input {
        width: 100%;
        padding: 10px 0;
        color: #444;
        font-weight: bold;
        box-shadow: 0 -2px #f3f3f3 inset;
        border: none;
        outline: none;
        background-color: #f0f8ff;
        transition: border-color $transition; 
        &[type="email"]:invalid {
            border-color: $color-error; 
        }
        &[type="email"]:focus:invalid {
            border-color: $color-error; 
        }
        &:focus {
            border-color: $color-default; 
        }
    }
    &__focus-animation {
        position: absolute;
        // left: 50%;
        bottom: 10px;
        height: 3px;
        width: 0;
        max-width: 100%; 
        transition: $transition;
        background-color: $color-default; 
        transform-origin: left; 
    }
    &__error {
        position: absolute;
        transform: translate(0px, 5px);
        color: $color-error;
        font-size: 0.75em;
        font-family: sans-serif;
        transition: $transition;
        opacity: 0; 
    }
    &__input[type="email"]:invalid ~ .material-form__error {
        opacity: 1; 
    }
    &__input:focus ~ .material-form__focus-animation {
        width: 100%; 
        transform: scaleX(1); 
    }
    &__button {
        $button-height: 50px;
        line-height: $button-height;
        margin: 1rem auto 1rem auto;
        width: 40%;
        background-color: $color-default;
        color: #fff;
        font-weight: bold;
        font-size: 1.1em;
        border: none;
        border-radius: ($button-height / 2);
        outline: none;
        transition: $transition;
        cursor: pointer;
        &:hover {
            background-color: darken(rgb(136, 164, 235), 50);
            transform: scale(1.05);
        }
        &:active {
            background-color: darken($color-default, 20);
            transform: scale(0.9);
        }
    }

    

    
    
}
