
.AppBar {
    width: 100%;
    height: 4rem;
  }
 
  .AppBar {
    background: linear-gradient(to bottom, #8abbed, #63a0d0); /* Gradient from darker blue to lighter blue */
  }
  
 
  .Toolbar {
    display: flex;
    justify-content: center;
  }

  .logo{
    max-height: 100%;
    border-radius: 80px;
    padding: 8px;
}
  
  
  .Typography {
    font-size: 1.5rem; 
  }
  
  
  .Button {
    font-weight: bold;
    font-size: 1rem; 
    margin-left: 16px; 
  }
  